@import "tailwindcss";

@theme {
  --color-brand-primary: #1b75bb;
  --color-brand-primary-hover: #125a92;
  --color-brand-header: #0f172a;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}
